<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Inscription Gratuite</h5>
                  <p>Créez votre compte MegaFast maintenant.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
                @if(successmsg){
                <alert type="success" [dismissible]="false">Registeration successfull.
                </alert>
                }
                @if(error){
                <alert type="danger" [dismissible]="false">{{ error }}</alert>
                }
                <div class="mb-3">
                  <label for="username" class="form-label">Nom d'utilisateur</label>

                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" id="username" placeholder="Entrez votre nom d'utilisateur" />
                  @if(submitted && f.username.errors){
                  <div class="invalid-feedback">
                    @if(f.username.errors.required){
                    <div>Le nom d'utilisateur est requis</div>}
                  </div>}
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />
                  @if(submitted && f.email.errors){
                  <div class="invalid-feedback">
                    @if(f.email.errors.required){
                    <div>L'email est requis</div>}
                    @if(f.email.errors.email){
                    <div>L'email doit être une adresse valide</div>}
                  </div>}
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe</label>

                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Mot de passe" />
                  @if(submitted && f.password.errors){
                  <div class="invalid-feedback">
                    @if(f.password.errors.required){
                    <div>Le mot de passe est requis</div>}
                  </div>}
                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">S'inscrire</button>
                </div>
                <div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">S'inscrire avec</h5>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="mt-4 text-center">
                  <p class="mb-0">En vous inscrivant, vous acceptez les <a href="javascript: void(0);" class="text-primary">conditions d'utilisation</a> de MegaFast</p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Vous avez déjà un compte ? <a routerLink="/auth/login" class="fw-medium text-primary"> Connexion</a>
          </p>
          <p>© {{year}} MegaFast. Tous droits réservés</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
